.s-page {
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-overflow-style: scrollbar;
  font-size: 20px;
  line-height: 1.5em;

  &__inner {
    overflow: hidden;
  }
}
