.s-promo {
  position: relative;
  overflow: hidden;
  padding-left: 5vw;
  padding-right: 5vw;

  &__container {
    @include container;
    padding-top: 6rem;
    padding-bottom: 2.25rem;
    position: relative;
    z-index: 2;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  &__subtitle {
    @include subtitle;
    margin-bottom: 1.5rem;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.1em;
    letter-spacing: -0.025em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.5rem;
    max-width: 500px;

    @include media-xs {
      font-size: ms(2);
    }
  }

  &__desc {
    @include font-size-small;
    line-height: 1.5em;
    font-weight: 400;
    max-width: 550px;
    margin-bottom: 1.5rem;

    p {
      margin-bottom: 0.5rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 0.5rem;

      li {
        margin: 0;
        padding: 0;
        position: relative;
        padding-left: 1rem;

        &::before {
          position: absolute;
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Cpath fill='%23e2464a' d='M8.94323.24791L3.03246 6.85058 1.42933 4.86995C.727712 4.20916-.374488 4.9795.126439 5.97069L2.03061 9.492c.30023.43994 1.00185.8799 1.70266 0 .30104-.44083 6.01112-8.25378 6.01112-8.25378C10.446.358337 9.5445-.412003 8.94323.24791z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 10px;
          height: 10px;
          top: 0.4em;
          left: 0;
        }

        &:not(:last-child) {

          &::after {
            position: relative;
            content: ';';
          }
        }

        &:last-child {

          &::after {
            position: relative;
            content: '.';
          }
        }
      }
    }
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;

    img {
      position: absolute;
      top: -10%;
      left: 0;
      width: 100%;
      height: 120%;
      display: block;
      object-fit: cover;
      object-position: 50% bottom;
    }
  }
}