.s-page-header {
  padding-top: 5vh;
  padding-bottom: 5vh;
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  // @include media-lg {
  //   position: fixed;
  // }

  &__inner {
    padding-left: 5vw;
    padding-right: 5vw;
    display: flex;
    align-items: center;
  }

  &__logo {
    display: block;
    margin-right: auto;

    svg {
      fill: $text-color;
      display: block;
    }
  }

  &__right {
    display: flex;
    align-items: baseline;
  }

  &__nav {
    display: none;

    @include media-sm {
      display: block;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;

      li {
        margin: 0;
        padding: 0;
        font-size: ms(-1);
        line-height: 1.4em;
        font-weight: 500;
        letter-spacing: 0.025em;

        &:not(:last-child) {
          margin-right: 2.25rem;
        }

        a {
          display: block;
          color: $text-color;
          text-decoration: none;
          position: relative;

          &::before {
            position: absolute;
            content: '';
            top: -0.5rem;
            right: -0.5rem;
            bottom: -0.5rem;
            left: -0.5rem;
          }

          &::after {
            content: '';
            position: absolute;
            bottom: -0.125rem;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: currentColor;
            transform: scaleX(0);
            transition: transform 0.5s $transition-timing--linear;
            transform-origin: right center;
          }

          &:hover,
          &:focus {
            text-decoration: none;
            color: currentColor;

            &::after {
              transform: scaleX(1);
              transform-origin: left center;
            }
          }
        }
      }
    }
  }

  &__contact-btn {
    border: 1px solid $text-color;
    padding: 7px 15px 8px 15px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    margin-left: 2.25rem;
    color: $text-color;
    cursor: pointer;
    display: none;
    font-size: ms(-1);
    line-height: 1.4em;
    font-weight: 500;
    letter-spacing: 0.025em;

    @include media-sm {
      display: block;
    }
  }

  &__burger {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    padding: 0;
    position: relative;
    cursor: pointer;
    color: $text-color;
    margin-left: 1rem;

    &::before {
      position: absolute;
      content: '';
      top: -0.5rem;
      right: -0.5rem;
      bottom: -0.5rem;
      left: -0.5rem;
    }

    @include media-sm {
      display: none;
    }

    span {
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate3d(0,-50%,0);

      &::before,
      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        left: 0;
        background-color: inherit;
      }

      &::before {
        top: -7px;
      }

      &::after {
        bottom: -7px;
      }
    }
  }
}
