.s-btn {
  font-family: $font-family;
  position: relative;
  display: inline-flex;
  background-color: transparent;
  background-image: none;
  color: $text-color;
  margin: 0;
  align-items: center;
  padding: 0.75rem 1.5rem 0.85rem;
  border: 1px solid $primary-color;
  border-radius: 100px;
  font-weight: 600;
  @include font-size-small;
  line-height: 1.4em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  z-index: 1;
  transition: transform .5s $transition-timing--linear;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary-color;
    transform: scaleX(0);
    transition: transform .5s $transition-timing--linear;
    transform-origin: center right;
  }

  &__label {
    position: relative;
    margin-right: 0.75rem;
  }

  &__arrow {
    position: relative;
    flex-shrink: 0;
    transition: transform .5s $transition-timing--linear;
  }

  &:hover,
  &:focus {
    color: #fff;

    .s-btn__label {
      color: #fff;
    }

    .s-btn__arrow {
      transform: translate3d(0.25rem,0,0);

      svg {
        stroke: #fff;
      }
    }

    &::before {
      transform: scaleX(1);
      transform-origin: center left;
    }
  }
}