mixin btn(label)

  button.s-btn&attributes(attributes)
    span.s-btn__label!= label
    span.s-btn__arrow
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 10', width='18', height='8', stroke='#000')
        path(stroke-linecap='round', stroke-width='1', stroke-linejoin='round', d='M19 5H1m14-4l4 4-4-4zm4 4l-4 4 4-4z')