include mixins.pug

doctype html
html(class='no-js s-page', lang='ru')

  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    //- meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(name='google', content='notranslate')
    //- meta(name='msapplication-TileColor', content='#5bbad5')
    //- meta(name='theme-color', content='#000')
    //- meta(name='msapplication-navbutton-color', content='#000')
    //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/reset-css@5/reset.min.css')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/locomotive-scroll@4/dist/locomotive-scroll.min.css')
      link(rel='stylesheet', href='css/style.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript JavaScript is disabled

    //- include ./../blocks/sprite-svg/img/sprite.svg

    .s-page__inner(data-scroll-container)
      block header

      block content

    block page-bottom
      script(nomodule='', src='https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.6.0/polyfill.min.js', crossorigin='anonymous')
      script(nomodule='', src='https://polyfill.io/v3/polyfill.min.js?features=Object.assign%2CElement.prototype.append%2CNodeList.prototype.forEach%2CCustomEvent%2Csmoothscroll', crossorigin='anonymous')
      script(src='https://cdn.jsdelivr.net/npm/locomotive-scroll@4/dist/locomotive-scroll.min.js')
      script(src='js/script.js')
