extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block header
  header.s-page-header
    .s-page-header__inner
      a.s-page-header__logo(href='/')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 192 36', width='192', height='36')
          path(d='M35.8635 17.6716L18.2712.136087c-.182-.1814493-.4769-.1814493-.659 0L.136474 17.5554c-.1811283.1806-.1820371.4732-.002274.6546L17.61 35.8616c.0078.008.0189.0112.0273.0185.023.0202.0487.0355.0757.0511.0271.0155.0532.0296.0827.0394.0115.0039.0201.0123.032.0153.0365.0091.0732.0131.1093.0135.0011 0 .002.0006.0031.0006h.0016c.0577 0 .1133-.0128.1656-.0329.0164-.0062.03-.0163.0456-.0244.0349-.018.0675-.0383.0969-.0645.0065-.0058.0152-.0081.0214-.0143l17.5923-17.5355c.182-.1814.182-.4754 0-.6568zM17.0507 2.00946L11.3916 23.3819 1.23317 17.7762 17.0507 2.00946zM3.06793 19.8507l8.27707 4.5676 4.6109 8.45L3.06793 19.8507zM18.7353 34.0876c-.0363-.167-.1598-.3091-.3373-.3539-.2497-.0617-.5029.088-.566.3366l-.0505.1995-5.3967-9.8904 21.6176-5.5097-15.2671 15.2179zm3.3843-13.1481l.2668-1.0538c.0631-.249-.0883-.5012-.3379-.5643-.2489-.0621-.5026.088-.5659.3366l-.3422 1.3514c-.0156.0614-.0176.1229-.0088.1819l-8.7892 2.24 2.271-8.5766 1.0881-.2696c.2498-.0622.4018-.3139.34-.563-.0624-.249-.3161-.3987-.5648-.3388l-.592.1466 3.3007-12.4656.7757.77321c-.041.00805-.0825.01372-.1217.03357-.2294.11613-.3211.39556-.2046.62419l.6328 1.24294c.0822.1615.246.25449.416.25449.0708 0 .1429-.01588.2105-.05036.2294-.11612.3211-.39556.2045-.62419l-.3585-.70414L34.6262 17.752l-12.5066 3.1875z')
          path(d='M22.6422 10.6657c.0821.1615.246.2545.416.2545.0707 0 .1429-.0159.2104-.0503.2294-.1162.3211-.3956.2046-.6242l-.6328-1.24297c-.1163-.22863-.3964-.32026-.6265-.20413-.2293.11613-.321.39556-.2045.62419l.6328 1.24291zM20.5656 25.1769c.0382.0095.0767.014.1142.014.2085 0 .3982-.1401.4517-.3506l.3422-1.3514c.0631-.249-.0882-.5012-.3379-.5643-.2491-.0612-.5026.088-.5659.3366l-.3422 1.3514c-.063.249.0883.5012.3379.5643zM18.7404 32.3827c.0382.0096.0765.0141.1145.0141.2082 0 .3979-.1402.4514-.3507l.3423-1.3509c.063-.249-.0883-.5012-.338-.5643-.2505-.0621-.5026.0885-.5659.3366l-.3422 1.3509c-.063.2491.0883.5013.3379.5643zM19.6529 28.7796c.0382.0095.0765.014.1145.014.2082 0 .3979-.1401.4514-.3506l.3423-1.3509c.063-.2491-.0883-.5013-.338-.5643-.2491-.0622-.5026.088-.5659.3366l-.3422 1.3509c-.063.249.0883.5012.3379.5643zM23.3078 12.4521l-.3422 1.3509c-.0631.249.0882.5013.3379.5643.0382.0095.0764.0141.1144.0141.2082 0 .398-.1402.4515-.3507l.3422-1.3509c.063-.249-.0883-.5013-.3379-.5643-.2469-.0612-.5026.088-.5659.3366zM22.9612 15.7187c-.2489-.0622-.5026.088-.5659.3365l-.3422 1.351c-.0631.249.0882.5012.3379.5643.0382.0095.0764.014.1144.014.2082 0 .398-.1401.4515-.3506l.3422-1.3509c.0631-.2491-.0883-.5013-.3379-.5643zM20.9549 7.35195c.0821.1615.246.25449.416.25449.0707 0 .1429-.01588.2104-.05036.2294-.11613.3211-.39556.2046-.62419l-.6328-1.24294c-.1163-.22863-.3966-.31981-.6264-.20414-.2294.11613-.3211.39557-.2046.6242l.6328 1.24294zM24.7755 13.0523l1.2456.6332c.0678.0345.1401.0508.2114.0508.1697 0 .3331-.0925.4155-.2535.1169-.2287.0259-.5081-.2032-.6247l-1.2456-.6333c-.2301-.1165-.5104-.0258-.6269.2028-.117.2286-.026.5081.2032.6247zM19.0943 12.7859l-1.3567.3366c-.2496.0622-.4018.3144-.3395.563.0528.2114.2428.3525.4517.3525.0373 0 .0753-.0046.1131-.0137l1.3566-.3366c.2496-.0621.4019-.3143.3395-.5629-.0619-.2495-.3156-.3992-.5647-.3389zM28.097 14.7407l1.2454.6328c.0678.0345.1399.0508.2111.0508.1698 0 .3334-.0925.4158-.2536.1167-.2286.0257-.5081-.2037-.6246l-1.2454-.6328c-.2298-.1171-.5099-.0259-.6269.2027-.1167.2287-.0257.5081.2037.6247zM23.2773 12.228c-.0622-.249-.3159-.3987-.5648-.3388l-1.3569.3361c-.2498.0622-.4018.3139-.3399.563.0527.2114.243.3524.4519.3524.0373 0 .0751-.0045.1128-.0136l1.3569-.3361c.2498-.0622.4018-.3139.34-.563zM31.4179 16.4286l.61.3103c.0678.0345.1402.0508.2114.0508.1698 0 .3331-.0925.4155-.2536.117-.2281.0259-.508-.2032-.6246l-.61-.3103c-.2292-.1166-.51-.0258-.6269.2028-.117.2282-.026.508.2032.6246zM8.24086 15.4774l-1.35688.3361c-.24984.0622-.40185.3139-.33995.563.05279.2114.24302.3524.45191.3524.03732 0 .07509-.0045.11286-.0136l1.35688-.3361c.24984-.0622.40185-.3139.33995-.563-.06234-.249-.31652-.3982-.56477-.3388zM12.4232 14.919c-.0621-.2495-.3158-.3992-.5648-.3389l-1.3566.3366c-.2496.0622-.4019.3144-.3395.563.0525.2114.2428.3524.4517.3524.0373 0 .0753-.0045.1131-.0136l1.3566-.3366c.2496-.0621.4019-.3143.3395-.5629zM4.62259 16.3743l-1.35664.3366c-.24962.0621-.40185.3143-.33951.5629.05279.2114.2428.3525.45169.3525.03732 0 .07532-.0046.11309-.0136l1.35665-.3366c.24962-.0622.40185-.3144.3395-.563-.06235-.2495-.31629-.3987-.56478-.3388zM54.3143 17.4146h-3.4178v2.4c0 .4488.0977.7952.293 1.0391.1953.2439.5254.3658.9904.3658.3628 0 .679-.0195.9487-.0585.279-.039.6742-.1171 1.1857-.2342v2.7073c-1.023.2439-1.9856.3659-2.8877.3659-2.4924 0-3.7386-1.0098-3.7386-3.0293v-3.5561H46v-2.4878h1.688v-1.6097l3.2085-.8781v2.4878h3.4178v2.4878zM62.3466 14.6341c.3813 0 .7301.0342 1.0463.1025.3162.0683.6463.1805.9904.3366V18c-.4464-.1659-.8277-.278-1.1439-.3366-.3162-.0683-.6556-.1024-1.0184-.1024-.5766 0-1.1392.1317-1.6879.3951-.5487.2634-1.0881.7463-1.6183 1.4488v4.3024h-3.2085v-8.7805h3.2085v1.9025c.4279-.7805.9161-1.3415 1.4648-1.683.558-.3414 1.2137-.5122 1.967-.5122zM71.5665 21.5122c.744 0 1.3067-.0781 1.688-.2342.3906-.1658.6603-.4048.8091-.717h3.1388c-.2883 1.1317-.8975 1.9902-1.8275 2.5756-.9207.5756-2.232.8634-3.934.8634-1.9158 0-3.4085-.4-4.478-1.2-1.0695-.8-1.6043-1.961-1.6043-3.4829 0-1.0147.2511-1.8683.7534-2.561.5022-.7024 1.1997-1.2293 2.0925-1.5805.8928-.361 1.9298-.5415 3.1109-.5415 1.8507 0 3.3062.4391 4.3664 1.3171 1.0602.8781 1.5903 2.1854 1.5903 3.922H68.609c.1023.6048.3953 1.0292.8789 1.2731.4929.2439 1.1858.3659 2.0786.3659zm-.2511-4.6829c-.7068 0-1.2741.1073-1.7019.3219-.4278.2147-.7254.5659-.8929 1.0537h5.2314c-.1767-.4878-.4836-.839-.9207-1.0537-.4278-.2146-.9998-.3219-1.7159-.3219zM78.2392 14.9268h9.9604v2.4878l-5.7056 3.8049h5.7056v2.4878h-9.9604v-2.4878l5.7056-3.8049h-5.7056v-2.4878zM101.224 14.8829c1.19 0 2.167.1415 2.93.4244.762.2829 1.339.7512 1.729 1.4049.4.6537.605 1.5317.614 2.6341v4.361h-1.744v-1.0536c-.958.4195-1.869.7463-2.734.9804-.855.2342-1.776.3513-2.762.3513-1.2834 0-2.2506-.2391-2.9016-.7171-.6417-.4878-.9626-1.2244-.9626-2.2098 0-1.0439.4557-1.8048 1.3671-2.2829.9114-.478 2.1019-.7171 3.5711-.7171 1.432 0 2.906.2293 4.422.6878-.018-.9073-.413-1.5122-1.185-1.8146-.763-.3122-1.6-.4683-2.511-.4683-.661 0-1.3396.0537-2.0371.161-.6883.1073-1.4555.3024-2.3018.5854l-.6417-1.4488c.8928-.2927 1.7484-.5122 2.5668-.6586.8277-.1463 1.6878-.2195 2.5808-.2195zm-1.4369 7.522c.6329 0 1.4039-.1171 2.3159-.3512.921-.2439 1.804-.5317 2.65-.8635v-.9219c-.669-.2049-1.353-.3659-2.05-.4829-.688-.1269-1.442-.1903-2.26-.1903-.9953 0-1.7719.1171-2.3299.3512-.558.2342-.837.6049-.837 1.1122 0 .5269.2092.883.6277 1.0683.4185.1854 1.0463.2781 1.8833.2781zM115.226 14.8829c1.497 0 2.655.361 3.473 1.083.819.7219 1.237 1.8829 1.256 3.4829v4.2585h-1.744v-3.8488c0-1.1414-.26-1.9805-.781-2.517-.512-.5464-1.4-.8195-2.665-.8195-1.32 0-2.381.3219-3.18.9658-.8.6439-1.2 1.5854-1.2 2.8244v3.3951h-1.744v-8.5317h1.744v1.9024c.53-.7219 1.19-1.2682 1.981-1.639.79-.3707 1.744-.5561 2.86-.5561zM127.653 14.8829c1.191 0 2.167.1415 2.93.4244.762.2829 1.339.7512 1.729 1.4049.4.6537.605 1.5317.614 2.6341v4.361h-1.743v-1.0536c-.958.4195-1.87.7463-2.735.9804-.855.2342-1.776.3513-2.762.3513-1.283 0-2.251-.2391-2.902-.7171-.641-.4878-.962-1.2244-.962-2.2098 0-1.0439.456-1.8048 1.367-2.2829.911-.478 2.102-.7171 3.571-.7171 1.433 0 2.907.2293 4.423.6878-.019-.9073-.414-1.5122-1.186-1.8146-.763-.3122-1.6-.4683-2.511-.4683-.661 0-1.34.0537-2.037.161-.688.1073-1.456.3024-2.302.5854l-.642-1.4488c.893-.2927 1.749-.5122 2.567-.6586.828-.1463 1.688-.2195 2.581-.2195zm-1.437 7.522c.633 0 1.405-.1171 2.316-.3512.921-.2439 1.804-.5317 2.651-.8635v-.9219c-.67-.2049-1.354-.3659-2.051-.4829-.688-.1269-1.442-.1903-2.26-.1903-.995 0-1.772.1171-2.33.3512-.558.2342-.837.6049-.837 1.1122 0 .5269.209.883.628 1.0683.418.1854 1.046.2781 1.883.2781zM142.264 16.7707h-4.143v3.2927c0 .6537.051 1.1415.153 1.4634.102.3122.293.5317.572.6586.279.1268.707.1902 1.284.1902.567 0 1.278-.0585 2.134-.1756v1.5659c-.986.1561-1.828.2341-2.525.2341-.874 0-1.553-.1122-2.037-.3366-.474-.2244-.814-.6049-1.018-1.1414-.205-.5464-.307-1.3171-.307-2.3122v-3.4391h-2.427v-1.5951h2.427v-1.9902l1.744-.6147v2.6049h4.143v1.5951zM149.614 24c-1.748 0-3.143-.3854-4.185-1.1561-1.032-.7707-1.548-1.9024-1.548-3.3951 0-1.4927.516-2.6244 1.548-3.3951 1.042-.7805 2.437-1.1708 4.185-1.1708 1.749 0 3.139.3903 4.172 1.1708 1.032.7707 1.548 1.9024 1.548 3.3951 0 1.4927-.516 2.6244-1.548 3.3951-1.033.7707-2.423 1.1561-4.172 1.1561zm0-1.6098c1.256 0 2.209-.2439 2.86-.7317.651-.4975.977-1.2341.977-2.2097 0-.9854-.326-1.722-.977-2.2098-.651-.4975-1.604-.7463-2.86-.7463-1.264 0-2.222.2488-2.873.7463-.651.4878-.977 1.2244-.977 2.2098 0 .9853.326 1.7219.977 2.2097.651.4878 1.609.7317 2.873.7317zM170.96 14.8829c1.237 0 2.191.3415 2.86 1.0244.67.6732 1.014 1.7171 1.032 3.1317v4.6683h-1.743V19.2c0-.9073-.214-1.5805-.642-2.0195-.419-.439-1.125-.6585-2.12-.6585-.577 0-1.126.1219-1.647.3658-.52.2439-.944.6098-1.269 1.0976-.316.478-.474 1.0536-.474 1.7268v3.9951h-1.744V19.2c0-.9073-.214-1.5805-.642-2.0195-.418-.439-1.121-.6585-2.106-.6585-.586 0-1.14.1219-1.66.3658-.521.2439-.944.6098-1.27 1.0976-.316.478-.474 1.0536-.474 1.7268v3.9951h-1.744v-8.5317h1.744v1.7268c.986-1.3463 2.32-2.0195 4.004-2.0195 1.934 0 3.148.7951 3.641 2.3854 1.004-1.5903 2.422-2.3854 4.254-2.3854zM177.125 14.0488V12h1.744v2.0488h-1.744zm0 9.6585v-8.5317h1.744v8.5317h-1.744zM180.882 19.4488c0-1.5025.511-2.639 1.534-3.4098 1.023-.7707 2.404-1.1561 4.143-1.1561 1.507 0 2.73.3025 3.669.9073.949.5952 1.539 1.483 1.772 2.6635h-1.897c-.186-.6635-.568-1.1561-1.144-1.4781-.577-.3219-1.377-.4829-2.4-.4829-2.539 0-3.808.9853-3.808 2.9561 0 1.961 1.269 2.9414 3.808 2.9414 1.023 0 1.823-.1609 2.4-.4829.576-.3219.958-.8097 1.144-1.4634H192c-.233 1.1805-.823 2.0683-1.772 2.6634-.939.5951-2.162.8927-3.669.8927-1.739 0-3.12-.3805-4.143-1.1415-1.023-.7707-1.534-1.9073-1.534-3.4097z')
      .s-page-header__right
        nav.s-page-header__nav
          ul
            li: a(href='/') Кто мы
            li: a(href='/') Продукция
            li: a(href='/') Сотрудничество
            li: a(href='/') Контакты
        btn.s-page-header__contact-btn
          | Связаться
          //- svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 30 33', width='28', height='30')
            path(stroke='#000', d='M27 1H3c-1.10457 0-2 .89543-2 2v19c0 1.1046.89543 2 2 2h20.0928c.6553 0 1.269.321 1.6428.8592L29 31V3c0-1.10457-.8954-2-2-2z')
        button.s-page-header__burger
          span


block content
  section.s-promo(data-scroll-section)
    .s-promo__container
      span.s-promo__subtitle(data-scroll) Обучайтесь тренируясь
      h1.s-promo__title(data-scroll) Трехмерные анатомические модели
      .s-promo__desc(data-scroll)
        p В процессе обучения мы понимаем, как трудно порой объяснять суть которая понятна обеим сторонам. Получение знаний впрок — не работает. Мы за приобретение полезных навыков. Получение знаний впрок — не работает. Мы за приобретение полезных навыков.
        p Наши модели помогут вам:
        ul
          li Эффктивно получить знания
          li Организовать мастер-класс
          li Подготовиться к первой операции
          li Совершенствовать практические навыки
      +btn('Заказать звонок')(data-scroll)
    .s-promo__cover(data-scroll, data-scroll-speed='-5', data-scroll-position='top', data-scroll-direction='vertical', data-scroll-target='.s-promo')
      img(src='img/promo.jpg', alt='', data-scroll)

  section.s-targets(data-scroll-section)
    .s-targets__inner
      span.s-targets__subtitle Для кого наши модели?
      h2.s-targets__title Использование на практике
      ul.s-targets__list
        li.s-targets__item(data-scroll, data-scroll-speed='0.5')
          a.s-targets__link(href='')
            h3.s-targets__link-caption Мастер классы для ортопедов
            span.s-targets__link-arrow
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 10', width='18', height='8', stroke='#000')
                path(stroke-linecap='round', stroke-linejoin='round', d='M19 5H1m14-4l4 4-4-4zm4 4l-4 4 4-4z')
            span.s-targets__link-cover
              img(src='img/target-1.jpg', alt='')
        li.s-targets__item(data-scroll, data-scroll-speed='0.5')
          a.s-targets__link(href='')
            h3.s-targets__link-caption Практика для студентов мед. вузов и интернов
            span.s-targets__link-arrow
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 10', width='18', height='8', stroke='#000')
                path(stroke-linecap='round', stroke-linejoin='round', d='M19 5H1m14-4l4 4-4-4zm4 4l-4 4 4-4z')
            span.s-targets__link-cover
              img(src='img/target-2.jpeg', alt='')
        li.s-targets__item(data-scroll, data-scroll-speed='0.5')
          a.s-targets__link(href='')
            h3.s-targets__link-caption Подготовка к своей первой операции
            span.s-targets__link-arrow
              svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 10', width='18', height='8', stroke='#000')
                path(stroke-linecap='round', stroke-linejoin='round', d='M19 5H1m14-4l4 4-4-4zm4 4l-4 4 4-4z')
            span.s-targets__link-cover
              img(src='img/target-3.jpeg', alt='')

  .s-products(data-scroll-section)
    .s-products__container
      span.s-products__subtitle Анатомичекие модель
      h2.s-products__title Получите практические навыки с нашими моделями
      section.s-products__section.s-products__section--foot
        .s-products__section-container
          .s-products__section-cover(data-scroll, data-scroll-speed='1')
            //- img(src='img/nino-liverani-unsplash.jpg', alt='', data-scroll, data-scroll-speed='-1')
            img(src='img/foot.jpg', alt='', data-scroll, data-scroll-speed='-1')
          .s-products__section-content
            h3.s-products__section-title Стопа
            .s-products__section-desc
              p Костные структуры с наличием распростаненных деформаций:
              ul
                li Hallux Valgus
                li Hallux Abducto Valgus
                li Metatarsus Primus Varus
                li Orthopedics
              p Имитация кожных покровов задает необходимость планировать доступ и работать в условиях приближенных к реальным.
            +btn('Заказать звонок')
      section.s-products__section.s-products__section--knee
        .s-products__section-container
          .s-products__section-cover(data-scroll, data-scroll-speed='1')
            //- img(src='img/nino-liverani-unsplash-3.jpg', alt='', data-scroll, data-scroll-speed='-1')
            img(src='img/knee.jpg', alt='', data-scroll, data-scroll-speed='-1')
          .s-products__section-content
            h3.s-products__section-title Колено
            .s-products__section-desc
              p Костные структуры с основными связками коленного сустава:
              ul
                li Замена передней крестообразной связки
                li Замена задней крестообразной связки
                li Ушивание менисков
              p Имитация кожных покровов для работы с эндоскопическим оборудованием.
            +btn('Заказать звонок')
      section.s-products__section.s-products__section--spine
        .s-products__section-container
          .s-products__section-cover(data-scroll, data-scroll-speed='1')
            //- img(src='img/nino-liverani-unsplash-2.jpg', alt='', data-scroll, data-scroll-speed='-1')
            img(src='img/spine.jpg', alt='', data-scroll, data-scroll-speed='-1')
          .s-products__section-content
            h3.s-products__section-title Позвоночник
            .s-products__section-desc
              p Модель создана для отработки доступа к межпозвоночным грыжам крестцового отдела и удалением грыж. Обучающий процесс может сопровождаться с использованием эндоскопического или рентген оборудования.
              p Модель крестцового отдела позвоночника в сборе:
              ul
                li Cменные межпозвоночные диски
                li Pакрытое эпидуральное пространство
                li Имитация межпозвоночной грыжи
                li Блок доступа эндоскопическим инструментом
            +btn('Заказать звонок')

  section.s-advantages(data-scroll-section)
    .s-advantages__container
      span.s-advantages__subtitle Преимущества
      h2.s-advantages__title Больше чем снимки, больше чем 3D изображение
      ul.s-advantages__list
        li.s-advantages__item
          span.s-advantages__icon
            //- svg(xmlns='http://www.w3.org/2000/svg', fill='#e2464a', viewbox='0 0 37 54', width='37', height='54')
            //-   path(d='M23.6829 44.2688c-.3159 0-.5715-.2569-.5715-.5744 0-4.3814 2.0204-8.4363 5.4061-10.8475 4.5957-3.2717 7.3394-8.6012 7.3394-14.256 0-4.8246-1.9188-9.31367-5.4016-12.64263-3.4816-3.32559-8.046-5.027652-12.8549-4.7752C8.54854 1.63645 1.3207 9.13586 1.14657 18.2464c-.10382 5.3632 2.20016 10.3953 6.31919 13.8073 3.03734 2.5144 5.15824 7.3008 5.15824 11.6407 0 .3175-.2556.5744-.5715.5744s-.5715-.2569-.5715-.5744c0-4.0201-1.95014-8.443-4.74193-10.7543C2.34879 29.3037-.105888 23.9406.00350656 18.224.188807 8.51315 7.89329.518944 17.5423.026389c5.1226-.270401 9.9895 1.544981 13.7 5.089361C34.955 8.6635 37 13.4488 37 18.5909c0 6.0262-2.9235 11.7058-7.8217 15.194-3.0831 2.1947-4.9239 5.8995-4.9239 9.9095 0 .3175-.2556.5744-.5715.5744z')
            //-   path(d='M6.32602 18.9208h-.01117c-.3159-.0056-.56595-.2682-.56036-.5857C5.87951 11.758 11.299 6.1334 17.8348 5.79905c.3639-.04488.5838.22776.5994.54417.0167.3164-.2266.5868-.5414.60251-5.9486.30518-10.88139 5.42367-10.99525 11.41177-.00558.3131-.26121.5633-.57153.5633zM23.6829 44.2689H12.0525c-.3159 0-.5715-.2569-.5715-.5744 0-.3176.2556-.5745.5715-.5745h11.6304c.3159 0 .5715.2569.5715.5745 0 .3175-.2556.5744-.5715.5744zM23.6829 49.1338H12.0525c-.3159 0-.5715-.2569-.5715-.5745 0-.3175.2556-.5744.5715-.5744h11.6304c.3159 0 .5715.2569.5715.5744 0 .3176-.2556.5745-.5715.5745zM20.0362 54h-4.3367c-.3159 0-.5716-.2569-.5716-.5745 0-.3175.2557-.5744.5716-.5744h4.3367c.3159 0 .5715.2569.5715.5744 0 .3176-.2556.5745-.5715.5745z')
            svg(xmlns='http://www.w3.org/2000/svg', fill='#e2464a', viewbox='0 0 44 44', width='44', height='44')
              path(d='M26.8454 18.3584c-.1806 0-.3611.0602-.4815.1806-1.3242 1.3242-2.829 2.0465-4.3338 2.0465s-3.0698-.7223-4.3338-2.0465c-.1204-.1204-.301-.1806-.4815-.1806-4.9357.6019-7.34339 2.5882-7.34339 6.0793 0 2.5883 1.38439 5.7784 3.67169 8.3065 2.4678 2.829 5.5978 4.3939 8.5472 4.3939 6.7414 0 12.2189-7.7045 12.2189-12.7605-.1204-3.3708-2.5281-5.3571-7.4638-6.0192zm-4.8755 17.6361c-5.959 0-11.015-7.1026-11.015-11.5568 0-2.7688 1.8659-4.2735 6.0191-4.8755 1.5048 1.4446 3.1902 2.2271 4.9959 2.2271 1.8057 0 3.5513-.7825 4.9959-2.2271 4.1532.602 6.0192 2.1067 6.0192 4.8755 0 4.4542-5.0561 11.5568-11.0151 11.5568z')
              path(d='M21.9699 3.12998c-4.0328 0-6.8618 2.70862-6.8618 6.62106 0 3.06976 1.6853 6.38026 3.9726 7.94526.9029.6019 1.9262.9631 2.8892.9631.9631 0 1.9262-.301 2.8892-.9631 2.2873-1.565 3.9727-4.8755 3.9727-7.94526 0-3.91244-2.829-6.62106-6.8619-6.62106zM24.197 16.6731c-1.4446.963-2.9494.963-4.4542 0-1.9863-1.3242-3.4309-4.2736-3.4309-6.92206 0-3.73187 2.829-5.41723 5.658-5.41723s5.658 1.68536 5.658 5.41723c0 2.64846-1.4446 5.59786-3.4309 6.92206zM43.5787.0601917C43.5185 2.3e-7 43.3981 0 43.3379 0h-6.4405c-.3611 0-.6019.240766-.6019.601915 0 .361149.2408.601915.6019.601915h4.9357l-6.3201 6.3803c-.2408.24076-.2408.60191 0 .84268.1204.12038.301.18057.4214.18057.1203 0 .3009-.06019.4213-.18057l6.3803-6.3803v4.9357c0 .36115.2407.60192.6019.60192.3611 0 .6019-.24077.6019-.60192V.601915c0-.060192 0-.180574-.0602-.240766-.0602-.120383-.1806-.240766-.3009-.3009573zM7.58413 35.513l-6.3803 6.3803v-4.9357c0-.3612-.240766-.6019-.601915-.6019-.361149 0-.601915.2407-.601915.6019v6.4405c0 .0602 2.3e-7.1806.0601917.2407.0601913.1204.1805743.2408.3009573.301C.421341 44 .541724 44 .601915 44H7.04241c.36115 0 .60191-.2408.60191-.6019 0-.3612-.24076-.6019-.60191-.6019H2.1067l6.3803-6.3803c.24077-.2408.24077-.602 0-.8427-.24076-.2408-.6621-.301-.90287-.0602zM2.04651 1.20383h4.93571c.36115 0 .60191-.240766.60191-.601915C7.58413.240766 7.34337 0 6.98222 0H.601915C.541724 0 .421341 2.3e-7.361149.0601917.240766.120383.120383.240766.0601918.361149 2.3e-7.421341 0 .541723 0 .601915V7.0424c0 .36115.240766.60192.601915.60192.361149 0 .601915-.24077.601915-.60192V2.1067l6.3803 6.3803c.12039.12038.30096.18057.42134.18057.12039 0 .30096-.06019.42134-.18057.24077-.24077.24077-.60191 0-.84268l-6.3803-6.44049zM43.3379 36.2955c-.3611 0-.6019.2407-.6019.6019v4.9357l-6.3803-6.3201c-.2408-.2408-.6019-.2408-.8427 0-.2408.2408-.2408.6019 0 .8427l6.3803 6.3803h-4.9357c-.3611 0-.6019.2407-.6019.6019 0 .3611.2408.6019.6019.6019h6.4405c.0602 0 .1806 0 .2408-.0602.1203-.0602.2407-.1806.3009-.301.0602-.0602.0602-.1805.0602-.2407v-6.4405c-.0602-.301-.301-.6019-.6621-.6019z')

          h3.s-advantages__term Индивидуальные модели для пациентов со сложными тактиками лечения
        li.s-advantages__item
          span.s-advantages__icon
            //- svg(xmlns='http://www.w3.org/2000/svg', fill='#e2464a', viewbox='0 0 48 48', width='48', height='48')
            //-   path(d='M6.23429 5.33347l4.27141-4.26251c.2464-.244806.2464-.642149 0-.886955-.2454-.2453399-.6436-.2453399-.88895 0L5.34484 4.44598 1.07346.184005c-.245349-.2453399-.643569-.2453399-.88945 0-.2453466.244806-.2453466.642149 0 .886955l4.27191 4.26251L.18401 9.59544c-.2453466.24481-.2453466.64216 0 .88746.12294.1222.283832.1835.444724.1835.160891 0 .321783-.0613.444726-.1835l4.27138-4.26248 4.27191 4.26248c.12294.1222.28383.1835.44475.1835.1609 0 .3223-.0613.4442-.1835.2464-.2453.2464-.64265 0-.88746L6.23429 5.33347zM43.5446 18.667l4.2714-4.2626c.2453-.2448.2453-.6416 0-.8864-.2459-.2459-.6441-.2459-.8895 0l-4.2713 4.2615-4.2714-4.2615c-.2459-.2459-.6441-.2459-.8895 0-.2458.2448-.2458.6416 0 .8864l4.2714 4.2626-4.2714 4.2619c-.2458.2459-.2458.6427 0 .8875.123.1227.2839.1835.4448.1835s.3218-.0603.4447-.1835l4.2714-4.262 4.2713 4.262c.123.1227.2839.1835.4448.1835s.3218-.0603.4447-.1835c.2453-.2448.2453-.6416 0-.8875l-4.2714-4.2619zM27.8071 23.9999l4.2714-4.262c.2454-.2448.2454-.6416 0-.8864-.2459-.2459-.6441-.2459-.8894 0l-4.2714 4.2615-4.2714-4.2615c-.2459-.2459-.6441-.2459-.8894 0-.2459.2448-.2459.6416 0 .8864l4.2713 4.262-4.2713 4.262c-.2459.2459-.2459.6427 0 .8875.1224.1226.2838.1835.4447.1835s.3218-.0603.4447-.1835l4.2714-4.262 4.2714 4.262c.1229.1226.2838.1835.4447.1835s.3218-.0603.4447-.1835c.2454-.2448.2454-.6416 0-.8875l-4.2714-4.262zM11.9767 48c-3.24184 0-5.87972-2.6321-5.87972-5.8668 0-3.2348 2.63788-5.8668 5.87972-5.8668 3.2419 0 5.8798 2.632 5.8798 5.8668 0 3.2347-2.6379 5.8668-5.8798 5.8668zm0-10.6669c-2.65279 0-4.81067 2.1531-4.81067 4.8001s2.15788 4.8001 4.81067 4.8001c2.6529 0 4.8108-2.1531 4.8108-4.8001s-2.1579-4.8001-4.8108-4.8001zM24.5588 5.69932c-.1016-.10134-.2379-.15574-.3779-.15574-.046 0-.0925.00587-.1385.01813l-5.2169 1.39417c-.1844.04907-.3287.19307-.3779.37708-.0497.184.0032.38027.1384.51521l1.6084 1.60591c-5.3169 6.30252-8.6539 15.31342-8.6539 25.30732 0 .2949.2394.5333.5345.5333.295 0 .5345-.2384.5345-.5333 0-9.7016 3.2157-18.4479 8.337-24.5569l1.4582 1.4555c.1015.1013.2378.1563.3779.1563.0459 0 .0924-.0059.1384-.0182.1844-.049.3287-.193.3779-.377l1.3032-4.85189.0951-.35415c.0492-.18454-.0037-.38134-.1384-.51574z')
            svg(xmlns='http://www.w3.org/2000/svg', fill='#e2464a', viewbox='0 0 44 44', width='44', height='44')
              path(d='M12.3839 24.4825v2.3969c0 .3424.2283.5707.5707.5707s.5707-.2283.5707-.5707v-2.3398c0-.3424-.2283-.5707-.5707-.5707s-.5707.2283-.5707.5136zM15.9793 21.9715v4.9079c0 .3424.2282.5707.5706.5707.3424 0 .5707-.2283.5707-.5707v-4.9079c0-.3424-.2283-.5707-.5707-.5707s-.5706.2283-.5706.5707zM19.5746 20.716v6.1634c0 .3424.2283.5707.5707.5707s.5707-.2283.5707-.5707V20.716c0-.3424-.2283-.5707-.5707-.5707s-.5707.2853-.5707.5707zM23.227 22.4281v4.4513c0 .3424.2283.5707.5707.5707s.5707-.2283.5707-.5707v-4.4513c0-.3425-.2283-.5707-.5707-.5707s-.5707.2853-.5707.5707zM26.8223 19.5175v7.3619c0 .3424.2283.5707.5707.5707s.5707-.2283.5707-.5707v-7.3619c0-.3424-.2283-.5707-.5707-.5707s-.5707.2283-.5707.5707zM30.4177 16.2646v10.6148c0 .3424.2282.5707.5706.5707.3424 0 .5707-.2283.5707-.5707V16.2646c0-.3424-.2283-.5707-.5707-.5707s-.5706.2854-.5706.5707zM33.4994 13.1829h.1141c.2853 0 .5136-.1712.5707-.4566l.9701-4.62253c.0571-.28534-.1141-.62775-.4565-.68482l-4.6226-.97017c-.2853-.05707-.6277.11414-.6848.45655-.0571.28534.1141.62776.4566.68483l3.3099.68482-9.3592 6.27752-3.31-1.5979c-.1712-.0571-.3995-.0571-.5707.0571L8.27497 20.4306c-.28535.1712-.34241.5136-.17121.799.11414.1712.28535.2853.45655.2853.11414 0 .22828-.057.28535-.1141l11.35664-7.2477 3.31 1.5979c.1712.0571.3995.0571.5707-.0571l9.6446-6.44875-.6848 3.30995c-.0571.2854.1141.5707.4566.6278z')
              path(d='M36.4669 31.6732c.0571.057.0571.1141.1142.1712h.057c.0571.057.1142.057.1712.1141.0571.0571.1712.0571.2283.0571.0571 0 .1712 0 .2283-.0571.0571-.0571.1141-.0571.1712-.1141l4.9079-4.965s0-.0571.0571-.0571c.057-.0571.057-.1141.1141-.1141.0571-.0571.0571-.1712.0571-.2283V3.48119h.856c.3424 0 .5707-.22827.5707-.57068 0-.34242-.2283-.57069-.5707-.57069H22.5422V.570687C22.5422.228275 22.3139 0 21.9715 0s-.5707.228275-.5707.570687V2.33982H.570687C.228275 2.33982 0 2.56809 0 2.91051c0 .34241.228275.57068.570687.57068h.856033V30.703c0 .7419.57069 1.3126 1.31258 1.3126h18.3191L15.751 43.201c-.1142.2854 0 .6278.2853.7419.0571.0571.1712.0571.2283.0571.2283 0 .3995-.1141.5136-.3424l5.1933-10.9001 5.1932 10.9001c.1142.2283.2854.3424.5136.3424.0571 0 .1712 0 .2283-.0571.2854-.1141.3995-.4565.2854-.7419l-5.3074-11.1854H34.07c.3425 0 .5707-.2283.5707-.5707s-.2282-.5707-.5707-.5707H2.7393c-.11414 0-.17121-.0571-.17121-.1712V3.48119H41.3748V25.9092h-3.5953c-.7419 0-1.3126.5707-1.3126 1.3126v4.4514zm1.3126-4.6226h2.7964l-3.0247 3.0246v-2.8534c.0571-.1141.1142-.1712.2283-.1712z')

          h3.s-advantages__term Отработайте навыки и получите детальную картину
        li.s-advantages__item
          span.s-advantages__icon
            //- svg(xmlns='http://www.w3.org/2000/svg', fill='#e2464a', viewbox='0 0 40 45', width='40', height='45')
              path(d='M27.8436 9.20312c0 .05977.0604.05977 0 0l5.617 5.49798-5.617-5.49798z')
              path(d='M39.8627 19.3626l-5.3754-5.259V8.84462c0-.2988-.302-.59761-.604-.59761h-5.315L20.4146.179283c-.2416-.239044-.604-.239044-.8456 0L.181195 19.3626C.0603988 19.4821 0 19.6016 0 19.7809v24.6215C0 44.7012.30199 45 .603981 45H39.3796c.3019 0 .6039-.2988.6039-.5976V19.7809c.0604-.1793-.0604-.2988-.1208-.4183zm-6.5834-9.92037v3.46617l-3.503-3.46617h3.503zM38.836 43.8645H1.20796V20.0199L19.9918 1.43426l7.8517 7.76893 5.617 5.49801 5.3151 5.259v23.9043h.0604z')
              path(d='M11.7172 27.4303H6.16062c-.36239 0-.60398.2988-.60398.5976v8.247c0 .2988.24159.5976.60398.5976h5.55658c.302 0 .604-.2988.604-.5976v-8.247c0-.3586-.302-.5976-.604-.5976zm-.6039 8.1873H6.7646v-6.9921h4.3487v6.9921z')
            svg(xmlns='http://www.w3.org/2000/svg', fill='#e2464a', viewbox='0 0 44 44', width='44', height='44')
              path(d='M30.6167 7.76111c-.1223 0-.1834 0-.3056-.06111C27.8056 6.23333 24.9333 5.5 22 5.5c-.3667 0-.6111-.24444-.6111-.61111 0-.36666.2444-.61111.6111-.61111 3.1167 0 6.2333.85555 8.9222 2.38333.3056.18333.3667.55.2445.85555-.1222.12222-.3667.24445-.55.24445z')
              path(d='M36.9111 14.0555c-.1834 0-.4278-.1222-.55-.3055-1.4667-2.5056-3.5444-4.64445-6.05-6.05-.3055-.18334-.3667-.55001-.2444-.85557.1833-.30555.55-.36667.8555-.24444 2.6889 1.58888 4.95 3.78891 6.5389 6.53891.1833.3055.0611.6722-.2445.8555-.1222 0-.1833.0611-.3055.0611zM22 22.6722c-.1833 0-.4278-.1222-.55-.3055-.1833-.3056-.0611-.6723.2444-.8556l9.2889-5.3778c.3056-.1833.6722-.0611.8556.2445.1833.3055.0611.6722-.2445.8555l-9.2888 5.3778c-.1223 0-.1834.0611-.3056.0611z')
              path(d='M22 22.6722c-.3667 0-.6111-.2444-.6111-.6111V4.82776c0-.36666.2444-.61111.6111-.61111.3667 0 .6111.24445.6111.61111V22.0611c0 .3055-.2444.6111-.6111.6111zM13.3833 8.18888c-.0611 0-.1833 0-.2444-.06111-.2444-.06112-.4889-.24445-.6111-.48889-.1222-.24445-.1833-.55-.1222-.79445.0611-.24444.2444-.48889.4889-.61111.2444-.12222.55-.18333.7944-.12222.2444.06111.4889.24444.6111.48889.1222.24444.1833.55.1222.79444-.0611.24445-.2444.48889-.4889.61111-.1833.12223-.3666.18334-.55.18334zm0-1.22223h-.0611c-.0611 0-.0611.06112-.0611.12223v.12222c0 .06111.0611.06111.1222.06111h.1223c.0611-.06111.1222-.18333.0611-.24444-.0611 0-.0611-.06112-.1834-.06112zM7.08888 14.4833c-.18333 0-.36666-.0611-.48889-.1222-.24444-.1222-.42777-.3666-.48889-.6111-.06111-.2444-.06111-.55.12223-.7944.18333-.2445.36666-.4278.61111-.4889.24444-.0611.55-.0611.79444.1222.48889.3056.67223.9167.36667 1.4056-.18333.3055-.55.4888-.91667.4888zm0-1.2222c-.06111 0-.12222.0611-.18333.0611-.06111.0611 0 .1834.06111.2445.06111.0611.18333 0 .24444-.0611.06112-.0611.00001-.1834-.06111-.2445h-.06111zM22 40.2722c-.55 0-1.0389-.4889-1.0389-1.0389 0-.55.4889-1.0389 1.0389-1.0389.55 0 1.0389.4889 1.0389 1.0389 0 .55-.4889 1.0389-1.0389 1.0389zm0-1.2222c-.1222 0-.1833.0611-.1833.1833 0 .1222.0611.1834.1833.1834.1222 0 .1833-.0612.1833-.1834S22.1222 39.05 22 39.05zM4.76668 23.1c-.55 0-1.03889-.4889-1.03889-1.0389 0-.55.48889-1.0389 1.03889-1.0389s1.03889.4889 1.03889 1.0389c0 .55-.42778 1.0389-1.03889 1.0389zm0-1.2222c-.12222 0-.18333.0611-.18333.1833 0 .1222.06111.1833.18333.1833s.18333-.0611.18333-.1833c0-.1222-.06111-.1833-.18333-.1833zM39.2333 23.1c-.55 0-1.0389-.4889-1.0389-1.0389 0-.55.4889-1.0389 1.0389-1.0389.55 0 1.0389.4889 1.0389 1.0389 0 .55-.4889 1.0389-1.0389 1.0389zm0-1.2222c-.1222 0-.1833.0611-.1833.1833 0 .1222.0611.1833.1833.1833.1222 0 .1834-.0611.1834-.1833 0-.1222-.1223-.1833-.1834-.1833zM30.6167 38.0111c-.0612 0-.1834 0-.2445-.0611-.2444-.0611-.4889-.2445-.6111-.4889-.1222-.2445-.1833-.55-.1222-.7945.0611-.2444.2444-.4888.4889-.6111.2444-.1222.55-.1833.7944-.1222.2444.0611.4889.2445.6111.4889.1222.2444.1834.55.1222.7944-.0611.2445-.2444.4889-.4889.6112-.1833.1222-.3666.1833-.5499.1833zm0-1.2222h-.0612c-.0611.0611-.1222.1833-.0611.2444 0 .0611.0611.0611.1223.0611h.1222c.0611 0 .0611-.0611.0611-.1222V36.85c-.0611-.0611-.1222-.0611-.1833-.0611zM7.08889 31.7166c-.06111 0-.18333 0-.24444-.0611-.24445-.0611-.48889-.2444-.61112-.4889-.30555-.4888-.12222-1.1611.36667-1.4055.48889-.3056 1.16111-.1222 1.40556.3667.30555.4888.12222 1.1611-.36667 1.4055-.18333.1222-.36667.1833-.55.1833zm-.06111-1.2222c-.06111.0611-.12222.1834-.06111.2445.06111.0611.18333.1222.24444.0611l-.18333-.3056zm.06111 0h-.06111l.18333.3056c.06111-.0611.12222-.1834.06111-.2445-.06111-.0611-.12222-.0611-.18333-.0611zM36.9111 31.7167c-.1833 0-.3666-.0612-.4889-.1223-.4889-.3055-.6722-.9166-.3666-1.4055.3055-.4889.9166-.6722 1.4055-.3667.4889.3056.6722.9167.3667 1.4056-.1222.2444-.3667.4277-.6111.4889-.1222-.0612-.2445 0-.3056 0zm-.1222-.9167c.0611.0611.1833 0 .2444-.0611.0611-.0611 0-.1834-.0611-.2445l-.1833.3056zm.1222-.3056c-.0611 0-.1222.0611-.1833.0611-.0611.0612 0 .1834.0611.2445l.1833-.3056h-.0611zM13.3833 38.0111c-.1833 0-.3666-.0611-.4889-.1222-.2444-.1222-.4277-.3667-.4889-.6111-.0611-.2445-.0611-.55.1223-.7945.1833-.2444.3666-.4277.6111-.4888.2444-.0612.55-.0612.7944.1222.2445.1833.4278.3666.4889.6111.0611.2444.0611.55-.1222.7944-.1222.2445-.3667.4278-.6111.4889-.1222-.0611-.1833 0-.3056 0zm-.1222-1.1611v.1222c0 .0611.0611.0611.0611.1223 0 .0611.1222.0611.1222 0 .0612 0 .0612-.0612.1223-.0612.0611-.0611 0-.1833-.0611-.2444h-.1223c-.0611 0-.1222 0-.1222.0611z')
              path(d='M22 44C9.83889 44 0 34.1611 0 22 0 9.83889 9.83889 0 22 0c12.1611 0 22 9.83889 22 22 0 12.1611-9.8389 22-22 22zm0-42.77778C10.5722 1.22222 1.22222 10.5722 1.22222 22S10.5722 42.7778 22 42.7778 42.7778 33.4278 42.7778 22 33.4278 1.22222 22 1.22222z')
          h3.s-advantages__term Изготовим и доставим от 5 рабочих дней

  footer.s-page-footer(data-scroll-section)
    .s-page-footer__inner(data-scroll, data-scroll-speed='-5', data-scroll-position='bottom', data-scroll-direction='vertical', data-scroll-target='.s-page-footer')
      .s-page-footer__container
        .s-page-footer__top
          .s-page-footer__intro
            h2.s-page-footer__title Обучайтесь тренируясь
          .s-page-footer__main-info
            .s-page-footer__block.s-page-footer__block--products
              h3.s-page-footer__subtitle Анатомические модели
              ul
                li: a(href='/') Стопа
                li: a(href='/') Колено
                li: a(href='/') Позвоночник
            .s-page-footer__block.s-page-footer__block--nav
              h3.s-page-footer__subtitle Информация
              ul
                li: a(href='/') О нас
                li: a(href='/') Продукция
                li: a(href='/') Сотрудничество
                li: a(href='/') Контакты
            .s-page-footer__block.s-page-footer__block--contacts
              h3.s-page-footer__subtitle Связаться
              ul
                li: a(href='tel:') +7 (812) 432-52-51
                li: a(href='mailto:') trez-anatomy@gmail.ru
            .s-page-footer__block.s-page-footer__block--location
              h3.s-page-footer__subtitle Найти нас
              address 197350, Санкт-Петербург, ул. Рубенштнейна, д. 13
        .s-page-footer__bottom
          .s-page-footer__social
            ul
              li
                a(href='/')
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 24 17', width='24', height='17')
                    path(fill-rule='evenodd', d='M9.56285 11.9535V4.78123l6.21095 3.58632-6.21095 3.58595zM23.4075 2.61299C23.1326 1.58456 22.3226.774372 21.2939.499455 19.4296 0 11.9535 0 11.9535 0S4.47758 0 2.61319.499455C1.58456.774372.774569 1.58456.499652 2.61299 0 4.47758 0 8.36735 0 8.36735s0 3.88995.499652 5.75435c.274917 1.0284 1.084908 1.8388 2.113538 2.1135 1.86439.4997 9.34031.4997 9.34031.4997s7.4761 0 9.3404-.4997c1.0287-.2747 1.8387-1.0851 2.1136-2.1135.4996-1.8644.4996-5.75435.4996-5.75435s0-3.88977-.4996-5.75436z', clip-rule='evenodd')
              li
                a(href='/')
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 9 20', width='9', height='20')
                    path(fill-rule='evenodd', d='M1.92857 6.66667V4c0-.00858-.00002-.01808-.00005-.02846C1.92696 3.38569 1.91794 0 6.03643 0H9v4H6.42857c-.17609-.02172-.35205.0415-.47745.17154-.12539.13003-.18635.31252-.16541.49513v2H9l-.64286 4.00003H5.78571V20H1.92857v-9.3333H0V6.66667h1.92857z', clip-rule='evenodd')
              li
                a(href='/')
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 20 20', width='20', height='20')
                    path(fill-rule='evenodd', d='M9.99167 0c-2.7144 0-3.05578 0-4.12156.0584063C4.81266.108469 4.07993.275344 3.45545.525657c-.66611.250313-1.2323.600753-1.79017 1.143093C1.13239 2.25282.791008 2.8035.532889 3.46266.283097 4.09679.11657 4.83104.0666112 5.88235 0 6.96704 0 7.30079 0 10.0125c0 2.7117 0 3.0622.0582848 4.1302.0499582 1.0596.2164862 1.7939.4662782 2.4197.249792.6675.599497 1.2265 1.149047 1.7855.58284.5173 1.14904.8594 1.80682 1.1181.63281.2503 1.36553.4172 2.41466.4673C6.97752 19.9917 7.31058 20 10.025 20c2.7144 0 3.0641 0 4.1299-.0667 1.0491-.0501 1.7818-.217 2.4146-.4673.6661-.2503 1.2157-.6008 1.7735-1.1514.5413-.5674.8826-1.1264 1.1408-1.7856.2498-.6341.4163-1.3684.4579-2.4197.05-1.0847.0583-1.4184.0583-4.1385 0-2.72007 0-3.06216-.0583-4.13017-.0499-1.04297-.2165-1.77722-.4663-2.41969-.2498-.6675-.6161-1.20984-1.1657-1.76887-.5745-.56738-1.1157-.901131-1.7735-1.151444-.6328-.250313-1.3655-.4171884-2.4146-.4755947C13.0475 0 12.7144 0 9.99167 0zm0 1.80225c2.66443 0 2.98083 0 4.03833.05841.9742.05006 1.4987.20859 1.8568.35044.4662.16687.7993.39215 1.149.75094.3497.33375.5662.6675.7494 1.14309.1332.35878.2914.88444.333 1.86066.0583 1.05966.0666 1.37672.0666 4.04671 0 2.67 0 2.9871-.0582 4.0467-.05.9763-.2082 1.5019-.3497 1.8607-.1666.4672-.3914.801-.7494 1.1514-.3331.3505-.6661.5674-1.1407.751-.3581.1335-.8826.292-1.8568.3337-1.0575.0584-1.3739.0668-4.03833.0668-2.66444 0-2.98085 0-4.0383-.0584-.97419-.0501-1.49875-.2086-1.85678-.3505-.46628-.1668-.79934-.3921-1.14905-.7509-.3497-.3338-.56619-.6675-.74937-1.1431-.13322-.3588-.29143-.8844-.33306-1.8607-.05828-1.0596-.06661-1.3767-.06661-4.0467 0-2.66999 0-2.98705.05829-4.04671.04995-.97622.20816-1.50188.3497-1.86066.16653-.46725.39135-.801.74938-1.15144.33306-.35044.66611-.56737 1.14072-.75094.35803-.1335.88259-.29203 1.85678-.33375 1.05745-.0584 1.37386-.06675 4.0383-.06675zM4.86261 10.0125c0-2.83686 2.29809-5.13974 5.12906-5.13974 2.83093 0 5.12903 2.30288 5.12903 5.13974 0 2.8369-2.2981 5.1398-5.12903 5.1398-2.83097 0-5.12906-2.3029-5.12906-5.1398zM9.99167 13.35c-1.8318 0-3.33055-1.5019-3.33055-3.3375 0-1.83561 1.49875-3.33749 3.33055-3.33749 1.83183 0 3.33053 1.50188 3.33053 3.33749 0 1.8356-1.4987 3.3375-3.33053 3.3375zm5.33723-7.48433c.6578 0 1.199-.52566 1.199-1.19316l.0416-.04172c0-.65916-.5412-1.2015-1.2073-1.2015s-1.199.56737-1.199 1.23487c0 .6675.4996 1.20151 1.1657 1.20151z', clip-rule='evenodd')
              li
                a(href='/')
                  svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 26 15', width='26', height='15')
                    path(d='M25.7669 13.3565c-.0715-.1167-.5007-1.0639-2.5824-3.0131-2.0816-1.94919-1.8885-1.70897.7154-5.24364 1.5952-2.14826 2.239-3.43172 2.0387-4.02197-.1073-.336312-1.3663-.247087-1.3663-.247087h-3.8557c-.3338-.012884-.6526.133612-.8513.391217-.4435.72752-.6224 1.66095-1.4307 3.07482-1.7455 2.99246-2.4394 3.14345-2.7255 2.95814-.7153-.39122-.5508-1.7639-.5508-2.66301 0-2.88951.4364-4.118066-.8441-4.413194C13.7147.0556567 13.103-.00418113 12.49.00022687c-1.4307.03431723-2.58239 0-3.25482.33630813-.44352.21963-.78689.686345-.57228.734385.44972.04426.86332.25624 1.15172.59026.26898.55391.40118 1.15986.38628 1.77076 0 0 .2289 3.43172-.53651 3.8298-.52936.28827-1.25186-.30199-2.80417-3.01305-.79404-1.37268-.87989-2.29238-1.43071-2.91696-.24497-.26218-.57076-.442511-.92995-.514754H.822654S.185991.775795.0572281.940518c-.1287632.164722 0 .686342 0 .686342S2.96871 8.4903 6.26647 11.9632c1.61155 1.827 3.94583 2.9244 6.43813 3.0268 0 0 1.9959.0892 2.2677-.3775.1387-.2043.2132-.4426.2146-.6864 0 0 0-2.107.9371-2.4159.9371-.3088 2.1818 2.059 3.4838 2.9376.4705.4037 1.0956.6003 1.724.5422h3.4766s1.8241-.1922.9585-1.6335z')
          .s-page-footer__copyright
            span 2020 — ООО “Интертрейд Орто”
            span 7802554493