.s-page-footer {
  background-color: $text-color;
  color: #fff;
  position: relative;
  z-index: 0;
  overflow: hidden;
  padding-left: 5vw;
  padding-right: 5vw;

  &__inner {
    position: relative;
    padding-top: 2.25rem;
    padding-bottom: 1.5rem;

    @include media-sm {
      padding-top: 3rem;
      padding-bottom: 2.25rem;
    }

    @include media-md {
      padding-top: 6rem;
      padding-bottom: 4.5rem;
    }
  }

  &__container {
    @include container;
  }

  &__top {

    @include media-sm {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__intro {
    margin-bottom: 1.5rem;

    @include media-sm {
      flex: 0 0 30%;
      max-width: 30%;
    }
  }

  &__main-info {

    @include media-sm {
      flex: 0 0 65%;
      max-width: 65%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.1em;
    margin: 0;
    padding-right: 1.5rem;
  }

  &__block {
    margin-bottom: 1.5rem;

    @include media-sm {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 3rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        @include font-size-small;
        margin: 0;
        padding: 0;
        line-height: 1.5em;
        font-weight: 500;

        &:not(:last-child) {
          margin-bottom: 0.25rem;
        }

        a {
          display: inline-block;
          text-decoration: none;
          color: #fff;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            bottom: -0.125rem;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: currentColor;
            transform: scaleX(0);
            transition: transform 0.5s $transition-timing--linear;
            transform-origin: right center;
          }

          &:hover,
          &:focus {
            text-decoration: none;
            color: currentColor;

            &::after {
              transform: scaleX(1);
              transform-origin: left center;
            }
          }
        }
      }
    }

    address {
      @include font-size-small;
      line-height: 1.5em;
      font-weight: 500;
    }

    &--products {

      ul {

        li {
          font-size: ms(0);

          &:not(:last-child) {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__subtitle {
    display: block;
    font-size: ms(-2);
    line-height: 1.4em;
    font-weight: 500;
    position: relative;
    padding-left: 1rem;
    letter-spacing: 0.025em;
    color: rgba(255,255,255,0.5);
    margin-bottom: 0.75rem;

    &::before {
      position: absolute;
      content: '';
      width: 0.25rem;
      height: 0.25rem;
      border-radius: 0.25rem;
      background-color: $primary-color;
      top: 0.25rem;
      left: 0;
    }

    @include media-sm {
      margin-bottom: 1.5rem;
    }
  }

  &__bottom {
    padding-top: 1.5rem;

    @include media-sm {
      padding-top: 4.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__social {
    margin-bottom: 1.5rem;

    @include media-sm {
      margin-bottom: 0;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;

      li {
        margin: 0;
        padding: 0;

        &:not(:last-child) {
          margin-right: 1.5rem;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: transparent;
          position: relative;

          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: -0.25rem;
            bottom: -0.25rem;
            left: -0.25rem;
          }

          svg {
            display: block;
            fill: #fff;
            opacity: 0.5;
            transition: opacity .5s $transition-timing--linear;
          }

          &:hover,
          &:focus {

            svg {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  &__copyright {
    font-size: ms(-2);
    line-height: 1.4em;
    font-weight: 400;
    opacity: 0.5;

    span {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 2.25rem;
      }
    }
  }
}
