.s-advantages {
  padding-top: 4.5rem;
  padding-bottom: 6rem;
  overflow: hidden;

  &__container {
    @include container;
  }

  &__subtitle {
    @include subtitle;
    margin-bottom: 1.5rem;
  }

  &__title {
    @include title;
    margin-bottom: 2.25rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__item {
    margin: 0;
    padding: 0;
    flex: 0 0 30%;
    max-width: 30%;
    height: 100%;
  }

  &__icon {
    width: 60px;
    height: 60px;
    display: block;

    svg {
      fill: $primary-color;
      display: block;
    }
  }

  &__term {
    font-size: ms(0);
    font-weight: 600;
    line-height: 1.3em;
    margin: 0;
  }
}