.s-products {
  margin: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 3rem;
  padding-bottom: 1.5rem;

  &__container {
    @include container;
  }

  &__subtitle {
    @include subtitle;
    margin-bottom: 0.75rem;

    @include media-sm {
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    @include title;
  }

  &__section {
    position: relative;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @include media-sm {
      padding-top: 2.25rem;
      padding-bottom: 2.25rem;

      &:nth-child(odd) {

        .s-products__section-content {
          order: 1;
        }

        .s-products__section-cover {
          order: 2;
        }
      }
    }

    &--foot {

      .s-products__section-cover {

        &::before {
          padding-top: 100%;
        }
      }
    }

    &--knee {

      .s-products__section-cover {

        &::before {
          padding-top: (3 / 4) * 100%;
        }
      }
    }

    &--spine {

      .s-products__section-cover {

        &::before {
          padding-top: (4 / 3) * 100%;
        }
      }
    }
  }

  &__section-container {
    width: 100%;

    @include media-sm {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__section-content {
    padding-top: 1.5rem;

    @include media-sm {
      flex: 0 0 40%;
      max-width: 40%;
      order: 2;
    }
  }

  &__section-title {
    @include title;
    margin-bottom: 0.75rem;
  }

  &__section-desc {
    @include font-size-small;
    line-height: 1.5em;
    font-weight: 400;
    margin-bottom: 1.5rem;

    p {
      margin-bottom: 0.5rem;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-bottom: 0.5rem;

      li {
        margin: 0;
        padding: 0;
        position: relative;
        padding-left: 1rem;

        &::before {
          position: absolute;
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 10'%3E%3Cpath fill='%23e2464a' d='M8.94323.24791L3.03246 6.85058 1.42933 4.86995C.727712 4.20916-.374488 4.9795.126439 5.97069L2.03061 9.492c.30023.43994 1.00185.8799 1.70266 0 .30104-.44083 6.01112-8.25378 6.01112-8.25378C10.446.358337 9.5445-.412003 8.94323.24791z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          width: 10px;
          height: 10px;
          top: 0.4em;
          left: 0;
        }

        &:not(:last-child) {

          &::after {
            position: relative;
            content: ';';
          }
        }

        &:last-child {

          &::after {
            position: relative;
            content: '.';
          }
        }
      }
    }
  }

  &__section-cover {
    position: relative;
    order: 1;
    overflow: hidden;

    &::before {
      display: block;
      content: '';
      width: 100%;
    }

    img {
      display: block;
      position: absolute;
      top: -10%;
      left: 0;
      right: 0;
      height: 120%;
      object-fit: cover;
    }

    @include media-sm {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}