.s-targets {
  background-color: #fff;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
  z-index: 1;
  position: relative;
  overflow: hidden;

  @include media-sm {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  &__subtitle {
    @include subtitle;
    margin-bottom: 0.75rem;

    @include media-sm {
      margin-bottom: 1.5rem;
    }
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;

    @include media-sm {
      margin-bottom: 2.25rem;
    }
  }

  &__inner {
    max-width: 1100px;
    margin: auto;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: target;

    @include media-sm {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 0.75rem;
    }

    @include media-sm {
      flex: 0 0 30%;
      max-width: 30%;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    position: relative;
    display: block;
    color: #fff;
    text-decoration: none;
    min-height: 450px;

    @include media-sm {
      min-height: auto;

      &::before {
        display: block;
        content: '';
        width: 100%;
        padding-top: (4 / 3) * 100%;
      }
    }

    &::after {
      position: absolute;
      counter-increment: target;
      content: counter(target, decimal-leading-zero);
      bottom: 3.5rem;
      left: 2.25rem;
      font-size: ms(-2);
      font-weight: 700;
      letter-spacing: 0.15em;
      z-index: 2;
    }

    &:hover,
    &:focus {

      .s-targets__link-arrow {

        &::before {
          transform: scale(1);
        }

        svg {
          stroke: $primary-color;
        }
      }

      .s-targets__link-cover {

        img {
          transform: scale(1.05);
        }
      }
    }
  }

  &__link-caption {
    position: absolute;
    top: 2.25rem;
    left: 2.25rem;
    width: calc(100% - 6rem);
    z-index: 2;
    font-size: ms(0);
    line-height: 1.2em;
    font-weight: 700;
  }

  &__link-arrow {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: transparent;
    position: absolute;
    bottom: 2.25rem;
    right: 2.25rem;
    z-index: 2;
    border: 1px solid rgba(255,255,255,.25);
    overflow: hidden;

    &::before {
      position: absolute;
      content: '';
      z-index: 1;
      background-color: #fff;
      width: 60px;
      height: 60px;
      border-radius: 60px;
      transform: scale(0);
      transform-origin: center;
      will-change: transform;
      transition: transform 0.5s $transition-timing--linear 0.075s;
    }

    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      stroke: #fff;
      z-index: 2;
      transition: transform 0.5s $transition-timing--linear;
    }
  }

  &__link-cover {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background:
        linear-gradient(
          to bottom right,
          hsla(0, 0%, 0%, 0.25),
          ease-in-out,
          hsla(0, 0%, 0%, 0)
        );
      z-index: 2;
    }

    img {
      display: block;
      position: absolute;
      top: -10%;
      left: 0;
      width: 100%;
      height: 120%;
      object-fit: cover;
      z-index: 1;
      will-change: transform;
      transition: transform 1.5s $transition-timing--linear;
    }
  }
}