// Width
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1920px;

// Project colors
$text-color: #141414;
$text-color--lighter: #66828f;
$text-color--lightest: #d5dadd;

$bg-color: #ffffff;
$bg-color--shade: #f7fafc;
$bg-color--dark: $text-color;

$primary-color: #e2464a;

// Semantic colors
$success: #16c98d;
$warning: #ffc83f;
$danger: #fa5e5b;

// Fonts
$font-family: 'Lato', -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
  oxygen-sans, ubuntu, cantarell, "Helvetica Neue", sans-serif;

$font-family--monospace: menlo, monaco, consolas, "Liberation Mono",
  "Courier New", nospace;

// Misc
$border-color: rgba($text-color, 0.125);
$border-radius: 2px;
$opacity: 0.5;
$box-shadow: 0 15px 45px -15px rgba($text-color, 0.25);
$transition-timing: cubic-bezier(0.9, 0.01, 0.01, 1);
$transition-timing--linear: cubic-bezier(0.165, 0.84, 0.15, 1);

@mixin font-size-small {
  // font-size: ms(-1);
  font-size: 0.8em;
}

@mixin container {
  max-width: 1080px;
  margin: auto;
}

@mixin subtitle {
  display: block;
  font-size: ms(-2);
  line-height: 1.4em;
  font-weight: 500;
  position: relative;
  padding-left: 1rem;
  letter-spacing: 0.025em;

  &::before {
    position: absolute;
    content: '';
    width: 0.25rem;
    height: 0.25rem;
    border-radius: 0.25rem;
    background-color: $primary-color;
    top: 0.25rem;
    left: 0;
  }
}

@mixin title {
  font-size: ms(1);
  line-height: 1.1em;
  font-weight: 700;
  margin-top: 0;
  letter-spacing: -0.0125em;
  max-width: 550px;

  @include media-xs {
    font-size: ms(2);
  }
}
